<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = '../static/home.js') }}"></script> -->

    <script src="../static/playerload.js"></script>

    <style>
    body{
        background: rgb(94, 94, 150);
    }
    .header{
        font-size: 40px;
    }
    .players{
        font-size: 20px;
    }

    </style>

</head>

<body>

    <div class = "header"> Let's play Set! </div>

    <div class = "players"> When you have all your players logged on, press to play: </div>
    <button class = "play_button"> play! </button>
</body>

