<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

    <script>
        var playerID = {{playerID|tojson}}
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename = '../static/playerload.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            console.log("playerID at playerload")
            console.log(playerID)
            // sending a connect request to the server.
            var socket = io.connect('http://localhost:5000');
            
            socket.on('after connect', function(msg){
            	console.log('after connect', msg);
            });

            $(document).on("click", "#play_button", function(){
                console.log("play button clicked")
                socket.emit('play', {who: $(this).attr('id'), data: 'mainpre.html'})
                return false;
            });

            socket.on('update screen', function(msg) {
                console.log('button pushed and ready for update screen');
                $('#'+msg.who).val(msg.data);
                console.log("who? " + $('#'+msg.who).val(msg.data))
                console.log("who update " + msg.who)
                console.log("data update " + msg.data)
                window.location = "/play/"
            });
        });
    </script>

    <style>
    body{
        background: rgb(94, 94, 150);
    }
    .header{
        font-size: 40px;
    }
    .players{
        font-size: 20px;
    }

    </style>

</head>

<body>

    <div class = "header"> Let's play Set! </div>
    <div class = "players"> When you have all your players logged on, press to play: </div>
    <div class="form-group">
        <button type="range" class="form-control-range sync" id = "play_button"> play! </button>
    </div>
</body>

